@import 'reset.css';

.flex-dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    
}

.flex-dashboard header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: white;
    padding: 10px 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.flex-dashboard header a {
    text-decoration: none;
    color: #72777a;
}

.flex-dashboard header a > i{
    color: #3498db;
}


aside {
    display: block;
    height: 100%;
    width: 300px;
    background-color: #3498db;
    
}

main{
    display: block;
    height: 100%;
    background-color: rgb(255, 255, 255);
    width: calc(100% - 300px);
}

main .main-content{
    padding: 30px;
    width: 100%;
    height: calc(100% - 90px); 
    /*Mudar o fundo da dashboard
    background-color: #f7f1f1; */
    background-color: #ffffff;
    overflow-y: auto;
}

/* pernsonalizando barra dentro do main content*/
.main-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #ffffff;
	border-radius:  8px;
}

.main-content::-webkit-scrollbar
{
	width: 8px;
	background-color: #ffffff;
}

.main-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, #53b1f0),
									   color-stop(0.72, #61baf5),
									   color-stop(0.86, #67bdf7));
}
/*fim personalizacao da barra*/

.main-content .panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px 0px;
}

.main-content-title{
   padding: 5px 0px; 
}

.main-content-title h2{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 300px;
    color: #72777a;
}

.sidebar-title a{
    color: #3f3f3f;
}

.panel-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.panel-50{
    width: 40%;
}

.panel-row button{
    height: 100px;
   /* Background botoões de cadastros
   background: #a4dbff;
   */
   background-color: #a4dbff;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition:  all 0.5s;
}

.panel-row button:hover{
    transition: 0.25s;
    transform: scale(1.05);
}

#ajax-content{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

aside .sidebar-title{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 0px;
}

aside .sidebar-title img{
    height: 50px;
    width: 50px;
}

aside .sidebar-title h2{
    font-size: 16px;
    margin-top: 5px;
    font-weight: normal;
}

.menu{
    margin-left: -20px;
    margin-top: 40px;
}

.menu ul{
    list-style-type: none;  
}

.menu ul li{
    padding: 30px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;
}

.menu ul li:hover{  
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
    transition: 0.25s;   
}

.menu ul li i {
    color: #ffffff;
    font-size: 20px;
}

.menu ul li a {
    color: #3f3f3f;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: #000000;
    transition: 0.25s;
}

.menuSelecionado{
    background-color: rgba(227, 255, 201, 0.1);
    transition: 0.15s;
}

.perfil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
}

.perfil-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-img{
    width: 400px;
    height: 400px;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
    margin-top: -60px;
    margin-left: auto;
    background-image: url(/imagens/perfil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #72777a;
    border-radius: 5px;
}

.form-group{
    margin: 10px;
}

.perfil-form{
    margin: auto;
    width: 50%;
    text-transform: uppercase;
}

.form-group button:hover{
    transform: scale(1.1);
    transition: 0.25s;
}

.perfil-form label{
    font-size: 14px;
}

.perfil-form input[type=file]{
    cursor: pointer;
}

.ajusteBotoes{
    align-self: center;
    margin-top: 24px;
    margin-bottom: 10px;
}

.dashboard-content{
    padding: 10px 0px;
}

.dashboard-flex-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dashboard-box{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 350px;
    width: 22%;
    height: 210px;
    background-color: white;
}

.dashboard-box:hover{
    transition: 0.5s;
    box-shadow: 0 0 1rem rgba(156, 156, 156, 0.7);
    transform: scale(1.1);
}

.box-icon{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-icon i{
    font-size: 22px;    
}

.value{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.type{
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}

.box-usuario{
    background-color:rgba(83, 177, 240, 0.1); 
    color: #6283f5;
}

.box-fornecedor{
    background-color:rgba(229, 115, 155, 0.1); 
    color: #ef5358;
}

.box-produto{
    background-color:rgba(110, 138, 101, 0.1); 
    color: #afb42b;
}

.type-produto{
    color: #afb42b;
}

.type-fornecedor{
    color: #ef5358;
}

.type-cadastro{
    color: #6283f5;
}


@media (min-width: 280px) { 
 
  }
  
  @media (min-width: 320px) { 
  
  }
  
  @media (min-width: 540px) { 
  
  }
  
  @media (min-width: 576px) { 
   
  }
  
  @media (min-width: 768px) { 
  
  }

  @media (min-width: 992px) { 
    
  }
  
  @media (min-width: 1200px) { 

  }