@import 'reset.css';

.box {
  text-align: center;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  transition: 0.25s;
  }

.box input[type="text"],
.box input[type="number-format"],
.box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: #000;
  border-radius: 15px;
  transition: 0.25s;
}

.box h1{
  color: #3498db;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.box input[type="text"]:focus,
.box input[type="number-format"]:focus,
.box input[type="password"]:focus{
  width: 300px;
  border-color: #fff;
}

.box input[type="button"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: #2ecc71;
  border-radius: 15px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="button"]:hover{
  background: #2ecc71;
  color: #fff

}

a {
  text-decoration: none;
  color: #848484;
  cursor: pointer;
  text-align: center;
}

a:hover{
  color: #848484;
}

@media (min-width: 280px) { 
  .box{
    left: -30%;
    top: 30%;
  }
}

@media (min-width: 320px) { 
  .box input[type="text"],
  .box input[type="number-format"],
  .box input[type="password"]{
    width: 200px;
  }
  
  
  .box{
    left: -5%;
    top: 15%;
  }
}

@media (min-width: 540px) { 
  .box{
    left: 10%;
    top: 30%;
  }
}

@media (min-width: 576px) { 
 
}


@media (min-width: 768px) { 
  .box{
    top: 30%;
    left: 30%;
  }
}


@media (min-width: 992px) { 

}

@media (min-width: 1200px) { 
  .box{
    top: 30%;
    left: 40%;
  }
}