*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoMono';
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
}

@font-face{
    font-family: 'MontserratAlternates';
    src: url('../fontes/MontserratAlternates-Regular.ttf');
    font-weight: normal;
}

@font-face{
    font-family: 'MontserratAlternates';
    src: url('../fontes/MontserratAlternates-Bold.ttf');
    font-weight: 600;
}

@font-face{
    font-family: 'MontserratAlternates';
    src: url('../fontes/MontserratAlternates-Light.ttf');
    font-weight: 300;
}

